<div class="bg-success" style="height: 100vh;">
  
    <h5 style="font-weight: 700; padding-top: 10px; text-align: center; color: yellow;" >
        <i class="fa-solid fa-cookie-bite"></i>Cookpedia Admin</h5>
   <div>
    <ul style=" list-style: none; font-size:large;font-weight: 500; ">
       
        <li class="p-2 mt-3"  >
            <a routerLink="/admin" style="text-decoration: none; color: white;"><i class="fa-solid fa-bars me-2"></i>Dashboard</a>
        </li>
        <li class="p-2" >
            <a routerLink="/admin/recipelist"  style="text-decoration: none; color: white;"><i class="fa-solid fa-cookie-bite me-2"></i>Recipie List</a></li>
        <li class="p-2" >
            <a routerLink="/admin/userlist" style="text-decoration: none; color: white;"><i class="fa-solid fa-users me-2"></i>User List</a>
        </li>
        <li class="p-2" >
 
            <a routerLink="/admin/download" style="text-decoration: none; color: white;"><i class="fa-solid fa-download me-2"></i>Download List</a>
        </li>
        <li class="p-2" >
            <a routerLink="/admin/feedbacklist" style="text-decoration: none; color: white;"><i class="fa-solid fa-comment me-2"></i>FeedBack List</a>
        </li>
    </ul>
   </div>
    
</div>