<div class="container mt-5">
   <div class="row">
    <div class="col-2">
        <h4>Fliters</h4>
    </div>
    <div class="col-6">
        <h2 style="font-weight: bolder;text-align: center; font-style: oblique;"> All Recipe</h2>
    </div>
    <div class="col-4">
      
        <input type="text" placeholder="Search your Recipie name here" style="width: 100%;" >
    </div>
   </div>
   <div class="row">
    <div class="col-4">
    
        <a 
        class="btn"
        (click)="getAllRecipe()" style="text-decoration: none; color: black; display: block;">All </a>
        <!-- <a>Cuisine Type <i class="fa-solid fa-caret-down"></i></a> -->
       
        <p>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Cuisine type
          </a>
         
        </p>
        <div class="collapse" id="collapseExample">
          <div >
            <div class="d-flex flex-wrap  w-30 gap-2 ">
          @for (cuisine of cuisineArray; track $index) {

            <button 
            (click)="filterRecipes('cuisine',cuisine)"
            
            class="btn">{{cuisine}}</button>
          }
              <!-- <p>Greek</p>
              <p>Russian</p>
              <p>Asian</p>
              <p>Italian</p>
              <p>Brazilian</p>
              <p>Moroccan</p>
              <p>Korean</p>
              <p>Mexican</p>
              <p>American</p>
              <p>Indian</p>
              <p>Smoothie</p>
              <p>Mediterranean</p>
              <p>Thai</p>
              <p>Turkish</p>
              <p>Lebanese</p> -->
            </div>
            
          </div>
        </div>




        <p>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#mealTypeCollapse" role="button" aria-expanded="false" aria-controls="collapseExample">
            Meal Type
          </a>
        </p>
        
        <div class="collapse" id="mealTypeCollapse">
          <div class="card card-body">
            <div class="d-flex flex-wrap gap-2">
              <div class="d-flex flex-wrap  w-30 gap-2 ">
                @for (meal of mealArray; track $index) {
                  <button  (click)="filterRecipes('mealType',meal)"
                  class="btn">{{meal}}</button>
                }
                    <!-- <p>Greek</p>
                    <p>Russian</p>
                    <p>Asian</p>
                    <p>Italian</p>
                    <p>Brazilian</p>
                    <p>Moroccan</p>
                    <p>Korean</p>
                    <p>Mexican</p>
                    <p>American</p>
                    <p>Indian</p>
                    <p>Smoothie</p>
                    <p>Mediterranean</p>
                    <p>Thai</p>
                    <p>Turkish</p>
                    <p>Lebanese</p> -->
                  </div>
            </div>
          </div>
        </div>
        








    </div>
    <div class="col-8">
        @for (recipie of recipesArray |paginate: { itemsPerPage: 8, currentPage: p } ; track $index)  {
          <div class="mt-2">
            <div class="card" style="width: 14rem; border:0;">
                <img src={{recipie.image}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{recipie.name}}</h5>
                  <p>{{recipie.cuisine}}</p>
                
                </div>
              </div>
          </div>
        }
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
   </div>
</div>
