<div class="container mt-5">
   <div class="row">
    <div class="col-2">
        <h4>Fliters</h4>
    </div>
    <div class="col-6">
        <h2 style="font-weight: bolder;text-align: center; font-style: oblique;"> All Recipe</h2>
    </div>
    <div class="col-4">
      
        <input type="text" placeholder="Search your Recipie name here" style="width: 100%;" >
    </div>
   </div>
   <div class="row">
    <div class="col-4">
        <a href="" style="text-decoration: none; color: black; display: block;">All </a>
        <!-- <a>Cuisine Type <i class="fa-solid fa-caret-down"></i></a> -->
        <div class="dropdown">
            <a (click)="onClick()">
              Cuisine Type <i class="fa-solid fa-caret-down"></i>
            </a>
            
            <div class="dropdown-menu" *ngIf="isOpen">
              <div class="dropdown-item">Italian</div>
              <div class="dropdown-item">Mexican</div>
              <div class="dropdown-item">Indian</div>
              <div class="dropdown-item">Chinese</div>
            </div>
          </div>
          
          <div class="dropdown">
            <a (click)="onClick()">
              Meal Type <i class="fa-solid fa-caret-down"></i>
            </a>
            
            <div class="dropdown-menu" >
              <div class="dropdown-item">Italian</div>
              <div class="dropdown-item">Mexican</div>
              <div class="dropdown-item">Indian</div>
              <div class="dropdown-item">Chinese</div>
            </div>
          </div>
    </div>
    <div class="col-8">
        <div class="mt-2">
            <div class="card" style="width: 14rem; border:0;">
                <img src="https://cdn.dummyjson.com/recipe-images/16.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Japanese Ramen Soup lg</h5>
                  <p>Cuisine : Japanese</p>
                
                </div>
              </div>
          </div>
    </div>
   </div>
</div>
